{% load static %}
{% load store_tags %}

<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="product text-center">
      <div class="position-relative mb-3">
        <div class="badge text-white bg-"></div><a class="d-block" href="{{ product.get_absolute_url }}"><img
            class="img-fluid w-100" src="{{ product.image }}" alt="..."></a>
        <div class="product-overlay">
          <ul class="mb-0 list-inline">
            {% is_product_in_basket request product as product_in_basket %}
            <li class="list-inline-item m-0 p-0">
              {% if product_in_basket %}
                <a class="btn btn-sm btn-dark" href="{% url 'basket' %}">Open cart</a>
              {% else %}
                <a class="btn btn-sm btn-dark" href="{{ product.get_absolute_url_for_add_to_basket }}">Add to cart</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
      <h6> <a class="reset-anchor" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
      <p class="small text-muted">${{ product.price }}</p>
    </div>
  </div>